@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&family=Shrikhand&display=swap");
.btn {
  height: 3.125rem;
  width: 14rem;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  color: #fff;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

input[type=checkbox] {
  display: none;
}

.card-like .fa-heart {
  font-size: 2rem;
}

.title-like .fa-heart {
  font-size: 1.5rem;
}

input[type=checkbox] + #label-like-check {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

input[type=checkbox] + #label-like-check > #ins-like-check {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  transform: translateY(100%);
}

input[type=checkbox] + #label-like-check > #ins-like-check > .fa-heart-full {
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

input[type=checkbox]:checked + #label-like-check > #ins-like-check {
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

input[type=checkbox] + #label-like-check > .fa-heart-select {
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

input[type=checkbox] + #label-like-check > #ins-like-check > .fa-heart-deselect {
  position: absolute;
}

input[type=checkbox]:checked + #label-like-check > .fa-heart-select {
  background: transparent;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + #label-menu-check {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

input[type=checkbox] + #label-menu-check > #ins-menu-check {
  position: absolute;
  display: block;
  left: 100%;
}
input[type=checkbox] + #label-menu-check > #ins-menu-check:hover {
  animation: slidein 0.5s 1;
  animation-fill-mode: both;
}

input[type=checkbox] + #label-menu-check > #ins-menu-check > .fa-circle-check {
  position: absolute;
  display: none;
}

input[type=checkbox]:checked + #label-menu-check > #ins-menu-check {
  height: 100%;
  left: 90%;
}

input[type=checkbox]:checked + #label-menu-check > #ins-menu-check > .fa-circle-check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  width: 4rem;
  height: 100%;
}

input[type=checkbox]:checked + #label-menu-check > .card-menu-container {
  width: 82%;
  animation: slidein 0.5s 1;
  animation-fill-mode: both;
}

@keyframes slidein {
  from {
    width: 100%;
  }
  to {
    width: 82%;
  }
}
#loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s;
  z-index: -99;
}

#loader div {
  background-color: white;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50px;
  position: relative;
  animation: jump 1s infinite;
}

#loader div:nth-of-type(1) {
  animation-delay: 0s;
}

#loader div:nth-of-type(2) {
  animation-delay: 0.3s;
}

#loader div:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes jump {
  0% {
    top: 0;
    opacity: 0.8;
  }
  50% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0.6;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    z-index: 99;
  }
  50% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
  }
}
footer {
  width: 100%;
  padding: 1.4rem 1.5rem;
  background-color: #353535;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

footer li {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;
}

footer a {
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.fa-utensils,
.fa-handshake {
  padding-right: 5px;
}

footer img {
  width: 8.6875rem;
  height: 1.6875rem;
}

.footer-logo path {
  fill: #fff;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10rem;
  }
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 8rem;
  }
  footer li {
    flex-direction: row;
    gap: 1rem;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 99;
}

.nav img {
  height: 3vh;
}

.nav-btn-return {
  position: absolute;
  left: 15px;
}

.fa-arrow-left {
  font-size: 1.25rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  background-color: #EAEAEA;
}

#location-name {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  border: none;
  background-color: transparent;
}

/*main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}*/
.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  background-color: #F6F6F6;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
  background-color: #fff;
}

.fonctionnement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.fonctionnement-content {
  width: 20rem;
  height: 4.5rem;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 35px;
}

.fonctionnement-chiffre {
  width: 8%;
  height: 35%;
  background-color: #9356DC;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22.5px;
  left: -15px;
}

.fonctionnement-chiffre p {
  color: #FFFFFF;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 3rem 1rem;
  background-color: #F6F6F6;
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.card-information {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-information .card-new {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 5rem;
  height: 1.8rem;
}

.card-information .card-new p {
  color: #008766;
  font-weight: 500;
}

.card-information img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14rem;
  border-radius: 20px 20px 0 0;
}

.card-information .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.card-information .card-title {
  padding-bottom: 10px;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    padding: 3rem 11rem;
  }
  .restaurants-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 34rem;
    height: 19rem;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 3rem 11rem;
  }
  .fonctionnement-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants {
    padding: 3rem 11rem;
  }
  .restaurants-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 34rem;
    height: 19rem;
  }
}
.background-image-menu img {
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-information {
  width: 100%;
  background-color: #F6F6F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
  margin-top: -30px;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.menu-subtitle h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.line-menu-subtitle {
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99E2D0;
  margin: 5px 0;
}

.entree-container,
.plats-container,
.desserts-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-menu {
  display: flex;
  justify-content: space-between;
  width: 22.5rem;
  height: 5rem;
  overflow: hidden;
}

.card-menu-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.fa-circle-check {
  color: white;
}

.card-menu-text {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-menu-price span {
  color: #353535;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}

.menu-btn {
  display: flex;
  justify-content: center;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: center;
  }
  .main-information {
    width: 66rem;
  }
  .card-menu {
    width: 40rem;
  }
  .card-menu-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
  }
}
/*@media screen and (min-width: 61.25em){}*/
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}
@media screen and (min-width: 61.25em) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #000000;
}

h7 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  color: #000000;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  border-radius: 20px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */