// FOOTER //
footer {
    width: 100%;
    padding: 1.4rem 1.5rem;
    background-color: $colorBackFooter;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer ul {
    list-style-type: none;
    margin: unset;
    padding: unset;
}

footer li {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
}

footer a {
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.fa-utensils,
.fa-handshake {
    padding-right: 5px;
}

footer img {
    width: 8.6875rem;
    height: 1.6875rem;
}

.footer-logo path {
    fill: #fff;
}


/****** Media queries ***********/


@media screen and (min-width: 768px){

    footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 10rem; 
    }

    .footer{
        flex-direction: row-reverse;
        align-items: center;
        gap: 8rem;
    }

    footer li {
        flex-direction: row;
        gap: 1rem;
      }
}