//Text Color

$colorText : #000000;
$colorTextLight : #FFFFFF;

$colorTextButton : #008766;

//Text

$fontFamilyTitle : 'Shrikhand', cursive;
$fontFamilyText : 'Roboto', sans-serif;


//Elements Color

$colorPrimary : #9356DC;
$colorSecondary : #FF79DA;
$colorTertiary : #99E2D0;

$colorButton : linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

$colorIcone : linearGradient(#9356DC, #FF79DA);


//Background Color

$colorBackFooter : #353535;

$colorBackMain : #F6F6F6;
