// CHECKBOX //

input[type='checkbox'] {
    display: none;
}

// checkbox like
.card-like .fa-heart {
    font-size: 2rem;
}

.title-like .fa-heart{
    font-size: 1.5rem;
}

input[type='checkbox'] + #label-like-check {
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

input[type='checkbox'] + #label-like-check > #ins-like-check {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    transform: translateY(100%);
}

//

input[type='checkbox'] + #label-like-check > #ins-like-check > .fa-heart-full {
    position: absolute;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox']:checked + #label-like-check > #ins-like-check {
    height: 100%;
    transform: translateY(-0%);
    transition: transform 0.5s ease-in-out;
}

//active

input[type='checkbox'] +#label-like-check > .fa-heart-select {
    position: relative;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox'] + #label-like-check > #ins-like-check > .fa-heart-deselect {
    position: absolute;
}

input[type='checkbox']:checked + #label-like-check > .fa-heart-select {
    background: transparent;
}


//Checkbox menu

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + #label-menu-check {
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

input[type='checkbox'] + #label-menu-check > #ins-menu-check {
    position: absolute;
    display: block;
    width: 100%;
    margin-left: 82%;
}

input[type='checkbox'] + #label-menu-check > #ins-menu-check > .fa-circle-check {
    position: absolute;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 4rem;
    height: 100%;
    background-color: $colorTertiary;
}

input[type='checkbox']:checked + #label-menu-check > #ins-menu-check {
    height: 100%;
    animation: glissement 0.5s 1 alternate;
}

input[type='checkbox']:checked + #label-menu-check > #ins-menu-check > .fa-circle-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox']:checked + #label-menu-check > .card-menu-container {
    width: 82%;
    animation: slidein 0.5s 1 alternate;
}

@keyframes glissement {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 82%;
    }
  }

  @keyframes slidein {
    from {
        width: 100%;
      }
    
      to {
        width: 82%;
      }
  }



  /****** Media queries ***********/

@media screen and (min-width: 768px) {
    
    //Checkbox menu
    input[type='checkbox'] + #label-menu-check > #ins-menu-check {
        margin-left: 90%;
    }

    input[type='checkbox']:checked + #label-menu-check > .card-menu-container {
        width: 90%;
        animation: slidein 0.5s 1 alternate;
    }

    @keyframes glissement {
        from {
          margin-left: 100%;
        }
      
        to {
          margin-left: 90%;
        }
      }
    
      @keyframes slidein {
        from {
            width: 100%;
          }
        
          to {
            width: 90%;
          }
      }
}