// CHECKBOX //

input[type='checkbox'] {
    display: none;
}

// checkbox like
.card-like .fa-heart {
    font-size: 2rem;
}

.title-like .fa-heart {
    font-size: 1.5rem;
}

input[type='checkbox']+#label-like-check {
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

input[type='checkbox']+#label-like-check>#ins-like-check {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    transform: translateY(100%);
}

//

input[type='checkbox']+#label-like-check>#ins-like-check>.fa-heart-full {
    position: absolute;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox']:checked+#label-like-check>#ins-like-check {
    height: 100%;
    transform: translateY(-0%);
    transition: transform 0.5s ease-in-out;
}

//active

input[type='checkbox']+#label-like-check>.fa-heart-select {
    position: relative;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox']+#label-like-check>#ins-like-check>.fa-heart-deselect {
    position: absolute;
}

input[type='checkbox']:checked+#label-like-check>.fa-heart-select {
    background: transparent;
}


//Checkbox menu

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + #label-menu-check {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

input[type='checkbox'] + #label-menu-check > #ins-menu-check {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 83%;
}

input[type='checkbox'] + #label-menu-check > #ins-menu-check > .fa-circle-check {
    position: absolute;
    display: none;
}



input[type='checkbox']:checked + #label-menu-check > #ins-menu-check >.fa-circle-check {
    @include checkbox-menu;
    animation: checkbox-check 300ms cubic-bezier(.4, .0, .23, 1) forwards;
}

input[type='checkbox']:not(:checked) + #label-menu-check > #ins-menu-check > .fa-circle-check {
    @include checkbox-menu;
    animation: checkbox-uncheck 300ms cubic-bezier(.4, .0, .23, 1) forwards;
}


input[type='checkbox']:checked + #label-menu-check > .card-menu-container {
    width: 82%;
    animation: slidein 300ms cubic-bezier(.4, .0, .23, 1) forwards;
}

input[type='checkbox']:not(:checked) + #label-menu-check > .card-menu-container {
    width: 82%;
    animation: slideout 300ms cubic-bezier(.4, .0, .23, 1) forwards;
}


@keyframes checkbox-check {
    0%{
        transform: translate3d(100%,0,0);
      }
      100%{        
        transform: translate3d(0,0,0);
      }
    }

@keyframes checkbox-uncheck {
    0%{
        transform: translate3d(0,0,0);
      }
      100%{        
        transform: translate3d(100%,0,0);
      }
    }


@keyframes slidein {
    0% {
        width: 100%;
    }

    100% {
        width: 82%;
    }
}

@keyframes slideout {
    0% {
        width: 82%;
    }

    100% {
        width: 100%;
    }
}


  /****** Media queries ***********/

@media screen and (min-width: 768px) {

    //Checkbox menu
    input[type='checkbox'] + #label-menu-check > #ins-menu-check {
        left: 90%;
    }

}