//CHECKOUT //

// animation coeur
.card-like .fa-heart {
    font-size: 2rem;
}

.title-like .fa-heart{
    font-size: 1.5rem;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

input[type='checkbox'] + label > ins {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    transform: translateY(100%);
}

//

input[type='checkbox'] + label > ins > .fa-heart-full {
    position: absolute;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox']:checked + label > ins {
    height: 100%;
    transform: translateY(-0%);
    transition: transform 0.5s ease-in-out;
}

//active
input[type='checkbox'] + label > .fa-heart-select {
    position: relative;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    color: transparent;
}

input[type='checkbox'] + label > ins > .fa-heart-deselect {
    position: absolute;
}

input[type='checkbox']:checked + label > .fa-heart-select {
    background: transparent;
}