// animation sélection

.card-menu-container {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 10rem;
        width: 100%;
    
    &:hover + .card-selection{
        background-color: $colorTertiary;
        transform: translate(0%);
    }
}

.card-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 4rem;
    transform: translate(100%);
    transition: transform 1s, background-color 1s;
}

.fa-circle-check {
    color: white;
}