// INDEX //

// introduction
.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
    background-color: $colorBackMain;
    text-align: center;
}

// fonctionnement
.fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    background-color: #fff;
}

.fonctionnement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.fonctionnement-content {
    width: 20rem;
    height: 4.5rem;
    border-radius: 1.25rem;
    background-color: $colorBackMain;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 35px;
}

.fonctionnement-chiffre {
    width: 8%;
    height: 35%;
    background-color: $colorPrimary;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22.5px;
    left: -15px;
}

.fonctionnement-chiffre p {
    color: $colorTextLight;
}

.fa-mobile-screen-button,
.fa-list-ul {
    color: #7E7E7E;
}

.fa-store {
    color: $colorPrimary;
}

// restaurants
.restaurants {
    padding: 3rem 1rem;
    background-color: $colorBackMain;
}

.restaurants-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.card-information {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-information .card-new {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorTertiary;
    width: 5rem;
    height: 1.8rem;
}

.card-information .card-new p {
    color: $colorTextButton;
    font-weight: 500;
}

.card-information img {
    object-fit: cover;
    height: 14rem;
    border-radius: 20px 20px 0 0;
}

.card-information .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.card-information .card-title {
    padding-bottom: 10px;
}

/****** Media queries ***********/
@media screen and (min-width: 768px) and (max-width: 1024px){
        // restaurants
        .restaurants {
            padding: 3rem 11rem;
        }
    
        .restaurants-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .card {
            width: 34rem;
            height: 19rem;
        }
}

@media screen and (min-width: 1024px) {

    // fonctionnement
    .fonctionnement {
        padding: 3rem 11rem;
    }

    .fonctionnement-container {
        flex-direction: row;
        justify-content: space-between;
    }

    // restaurants
    .restaurants {
        padding: 3rem 11rem;
    }

    .restaurants-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 34rem;
        height: 19rem;
    }
}