// INDEX //
/*main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}*/

// introduction
.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
    background-color: $colorBackMain;
    text-align: center;
}