// MENU PALETTE + NOTE + DELICE + FRANCAIS //
// main

.background-image-menu img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
}

// section

.main-information {
    width: 100%;
    background-color: $colorBackMain;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
    margin-top: -30px;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.menu-subtitle h6 {
    font-weight: 300;
    text-transform: uppercase;
}

.line-menu-subtitle {
    width: 2.5rem;
    height: 0.1875rem;
    background-color: $colorTertiary;
    margin: 5px 0;
}

.entree-container,
.plats-container,
.desserts-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.card-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    width: 21rem;
    height: auto;
}

.card-menu-price span {
    color: $colorBackFooter;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
}

.menu-btn {
    display: flex;
    justify-content: center;
}


/****** Media queries ***********/


@media screen and (min-width: 768px) {

    .menu-container {
        display: flex;
        justify-content: center;
    }

    .main-information {
        width: 66rem;
    }

    .card-menu {
        width: 40rem;
    }
}